html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

body{
	font-family: 'Playfair Display', serif;
	background-color: #ECECEC;
}
a{
	text-decoration: none;
	color: inherit;
}
.figure1{
	width: 500px;
	z-index: -20;
	position: absolute;
	top: 40px;
	right: -80px;
}
.figure1 img{
	width: 100%;
	filter: drop-shadow(5px 5px 5px #222);
}
.figure2{
	width: 550px;
	z-index: -20;
	position: absolute;
	top: 440px;
	left: -160px;
}
.figure2 img{
	width: 100%;
	filter: drop-shadow(5px 5px 5px #222);
}


.container{
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
	box-sizing: border-box;
}
.header{
	margin: 30px 0 30px 0;
}
.header__iner-title{
	text-align: right;
	margin-bottom: 10px;
	font-size: 38px;
	color: black;
	transition: 300ms;
}
.header__iner-title:hover{
	color: #90CCF4;
}
.header__iner-title a{
	color: inherit;
}
.header__iner-subtitle{
	text-align: right;
	font-size: 44px;
	margin-bottom: 20px;
}
.header__iner-menu{
	height: 40px;
}
/*.header__iner-menu::after{
	content: '';
	display: block;
	height: 4px;
	background-color: #90CCF4;
}*/
.header__iner-navbar{
	display: flex;
	
}
.header__iner-item{
	cursor: pointer;
	width: 256px;
	height: 40px;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	color: black;
	transition: 300ms;
}
.header__iner-item:hover{
	background-color: #2e424d ;
	color: white;
	
}
.header__iner-active{
	background-color: #90CCF4 ;
	color: white;
}
ul li ul{
	visibility: hidden;
	padding-left: 0;
	left: 0;
	background-color: #698a9d;
}

ul li:hover > ul,
ul li ul:hover {
	visibility: visible;
	min-width: 256px;
	text-align: center;
	box-shadow: 0px 3px 5px -1px #ccc;
}
.dropdown li:hover{
	padding-left: 10px;
	border-left: 2px solid white;
}
.dropdown li{
	color: white;
}

.main__iner{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.main__iner-info{
	width: 70%;
	height: 100%;
	background-color: aliceblue;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
}
.main__iner-info::before{
	content: '';
	display: block;
	height: 3px;
	background-color: #90CCF4;
}
.main__iner-news{
	display: block;
	width: 25%;
	height: 500px;
	background-color: aliceblue;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
}
.main__iner-news::before{
	content: '';
	display: block;
	height: 3px;
	background-color: #90CCF4;
}
.main__iner-title{
	font-size: 34px;
	line-height: 34px;
	font-weight: 700;
	padding: 20px 30px;
}
.main__iner-text{
	font-size: 20px;
	line-height: 34px;
	padding: 20px 30px;
}

.main__iner-subtitle{
	font-size: 30px;
	line-height: 34px;
	font-weight: 600;
	padding: 20px 20px;
}
.main__iner-block{
	display: flex;
	justify-content: space-between;
	padding: 20px 20px;
}
.main__iner-img{
	width: 80px;
	height: 100px;
}
.main__iner-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main__iner-sublock{
	width: 60%;
}
.main__iner-date{
	font-size: 18px;
	font-weight: 500;
	padding: 11px 0;
}

.main__iner{
	width: 100%;
	display: block;
}
.main__iner-left{
	float: left;
	text-align: justify;
}
.main__iner-left1{
	max-width: 65%;
}
.main__iner-right{
	padding-top: 150px;
	float: right;
}
.main__iner-right1{
	max-width: 65%;
	float: right;
}
.main__iner-text{	
	text-align: justify;
	font-size: 22px;
}

.main__iner-comments{
	width: 80%;
	padding-top: 760px;
	margin: 0 auto;
}
.main__iner-right .main__iner-text:last-child{
	text-align: center;
}

.main__iner-comments .main__iner-text{
	text-align: justify;
	
}
.main__iner-comments .main__iner-text:first-child{
	text-align: center;
	font-size: 24px;
	font-weight: 500;
}

.footer{
	margin-top: 40px;
	height: 100px;
	width: 100%;
	background-color: #90CCF4;
}